Setup the index.handlebars to have the template that Handlebars can render onto. Create a button in index.handlebars that will submit the user input into the database.
<h1>Eat da burger!</h1>

<form class="create-form">

    <div class="form-group">
        <label for="createBurger">Name your burger:</label>
        <input type="text" id="createBurger" name="name">
    </div>

    <button type="submit">Add burger to menu</button>
</form>

<div class="row">
    <div class="col s6">
        <h2>On menu:</h2>
        {{#each burgers}}
            {{#unless devoured}}
                <div class="row">
                    <div class="col s8">
                        <span>{{id}}: {{burger_name}}</span>
                    </div>

                    <div class="col s4 ">
                        <button data-id="{{id}}" class="devour btn" type="button">Devour</button>
                    </div>
                </div>
            {{/unless}}
        {{/each}}
    </div>

    <div class="col s6">
        <h2>In belly:</h2>
        {{#each burgers}}
            {{#if devoured}}
                <div>{{id}}: {{burger_name}}</div>
            {{/if}}
        {{/each}}
    </div>
</div>
